#app{
	padding: 20px;
	width: 500px;
	margin: 0 auto;
	margin-top: 0px;
	margin-top: 40px;
	background: white;
	border-radius: 5px;
	/*width: 500px;*/
}
#foot{
	margin-top: 50px;
	text-align: center;
}
#addButton{
	vertical-align: middle;
	font-size: larger;
	border: 0px;
	background-color: lightpink;
	margin-left: 5px;
	border-radius: 5px;
	color: white;
}

#valueInput {
	vertical-align: middle;
	width: 420px;
	height: 17px;
}

.oddItem{
	line-height: 30px;
	vertical-align: middle;
	width: 100%;
	height: 30px;
}

.evenItem{
	line-height: 30px;
	background-color: lightsalmon;
	width: 100%;
	height: 30px;
}

.filterButtonActive{
	border: 1px solid #FFA07A;
	margin-left: 10px;
	font-size: larger;
	color: #FFA07A;
	background-color: white;
}

.filterButtonDisable{
	border: 0px;
	margin-left: 10px;
	font-size: larger;
	color: #FFA07A;
	background-color: white;
}

.deleteBtn{
	color: red;
	border: 0px;
	background-color: white;
	margin-right:  0px;
}

#welcome{
	padding: 20px;
	width: 500px;
	margin: 0 auto;
	margin-top: 0px;
	margin-top: 40px;
	background: white;
}
